name: Android CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Check out
      uses: actions/checkout@v4
      with:
        submodules: "recursive"
        fetch-depth: 0

    - name: Checkout libxposed/api
      uses: actions/checkout@v4
      with:
        repository: libxposed/api
        path: libxposed/api
        fetch-depth: 0

    - name: set up JDK 21
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '21'

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build libxposed api to mavenLocal
      run: |
        mkdir -p ~/.gradle
        echo 'org.gradle.caching=true' >> ~/.gradle/gradle.properties
        echo 'org.gradle.parallel=true' >> ~/.gradle/gradle.properties
        echo 'org.gradle.jvmargs=-Xmx2048m -Dfile.encoding=UTF-8 -XX:+UseParallelGC' >> ~/.gradle/gradle.properties
        echo 'android.native.buildOutput=verbose' >> ~/.gradle/gradle.properties
        cd libxposed/api
        chmod +x gradlew
        ./gradlew publishToMavenLocal

    - name: Build with Gradle
      run: ./gradlew assembleRelease
      
    - name: Upload app-release.apk
      uses: actions/upload-artifact@v4
      with:
        name: BootloaderSpoofer
        path: app/build/outputs/apk/release/app-release.apk